@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.centered {
    position: absolute; /* or absolute */
    top: 8%;
    left: 35%;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    border-radius: 10px;
    border-color: #ff6aa2;
    border-style: solid;
}

input {
    border-radius: 4px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
    width: 100%;
    width: 650px;
    font-size: larger;
    height: 50px;
    border-color: rgb(0, 0, 0, 0.2);
}

input:focus { 
    /* outline: none !important;  */
    border-color: #000000;
    box-shadow: 0 0 0px #000000;
}

h6 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

#register-button {
    margin-top: 20px;
    width: 650px;
    height: 40px;
    background-color: #ff6aa2;
    font-size: 20px;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: #ff6aa2;
    border-radius: 0px;
}

#register-button:hover {
    background-color: #ff6aa2;
}