@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.front-image {
    position: relative;
    width: 80%;
    padding-left: 10%;
    padding-top: 20%;
}

.view-screen {
    padding: 3em;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
}

#second-view  h1 {
    text-align: center;
}

#foods-image {
    position: relative;
    width: 20%;
}

#low-message {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 25%;
    padding-top: 0%;
    padding-right: 5%;
    animation: 1s ease-out 0s 1 slideInFromRight;
    transition: all 0.5s ease 0s;
}

.grand-message{
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 25%;
    padding-top:5%;
    padding-right: 0%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    transition: all 0.5s ease 0s;
}

#mid-message {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 40%;
    margin-top: -15px;
    padding-right: 6%;
    animation: 2s ease-out 0s 1;
    transition: all 0.5s ease 0s;
}

#order-now {
  padding: 9px 25px;
  height: 70px;
  width: 200px;
  font-family: 'Montserrat', sans-serif;
  background-color: #e8ba5a;
  font-weight: 500;
  color: #ffffff;
  border-style: solid;
  border-color: #e8ba5a;
  font-size: 21px;
  border-radius: 0px;
  margin-left: 40px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

#order-now:hover {
  background-color: rgb(255, 255, 255);
  color:  #e8ba5a;
  transition: all 0.2s ease 0s;
}

#container {
  text-align: center;
  padding-top: 100px;
}

.center-cols {
  text-align: center;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-40%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(+100%);
    }
    100% {
      transform: translateX(0);
    }
}

#down-animation {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

.col-image {
    width: 300px;
    
}

#notified-btn {
    width: 500px;
    height: 70px;
    border-radius: 10px;
    border-color:white;
    font-size: 25px;
    /* margin-top: 300px; */
    background-color: rgb(0, 0, 0);
    transition: all 0.5s ease 0s;
    transform: translateY(0%);
}

#notified-btn:hover {
  transition: all 0.5s ease 0s;
  background-color: rgb(0, 0, 0, 0.7);
  transform: translateY(-3%);
}