@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.front-image {
    position: relative;
    width: 100%;
    /* padding-top: 100%; */
}

.view-screen {
    padding: 3em;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
}

#second-view  h1 {
    text-align: center;
}

#second-view {
    background-color: rgb(216, 231, 231);
}

#foods-image {
    position: relative;
    width: 20%;
}

#low-message {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10%;
    padding-top: 10%;
    padding-right: 5%;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    transition: all 0.5s ease 0s;
}

.grand-message{
    font-family: 'Montserrat', sans-serif;
    font-size: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10%;
    padding-top:20%;
    padding-right: 5%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    transition: all 0.5s ease 0s;
}

.sec-grand-message {
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    /* display: flex; */
    /* justify-content: flex-end; */
    align-items: center;
    padding-left: 35%;
    padding-top: 2%;
    /* padding-right: 5%; */
    /* animation: 1s ease-out 0s 1 slideInFromLeft; */
    /* transition: all 0.5s ease 0s; */
}

#mid-message {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10%;
    margin-top: -15px;
    padding-right: 6%;
    /* background-color: aqua; */
    animation: 2s ease-out 0s 1 slideInFromRight;
    transition: all 0.5s ease 0s;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-40%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(+100%);
    }
    100% {
      transform: translateX(0);
    }
}

#down-animation {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

.col-image {
    width: 200px;
    border-radius: 5000px;
}

#notified-btn {
    margin-top: 300px;
    width: 200px;
    height: 70px;
    border-radius: 50px;
    font-size: 25px;
    margin-left: 0px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}